{{#if edit}}
<div class="row">
  <div class="col s9">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Tipo</th>
          <th scope="col">Precio</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#if dtStatus}}
        <p>Aun no hay consultorios</p>
        {{else}}
        {{#each consultorios as |consultorio|}}
        <tr>
          <th>{{numero}}</th>
          <td>{{tipoconsultorio}}</td>
          <td>{{precio}}</td>
        </tr>
        {{/each}}
        {{/if}}
      </tbody>
    </table>
    <div id="editDiv"></div>
  </div>
  <div class="col s3">
    <form action="/admin/consultorios/edit/{{cons._id}}" method="POST">
      <h5 class="center-align">Editar Consultorio</h5>
      <label>No: </label>
      <input name="numero" type="number" min='0' step="1" value="{{cons.numero}}" required>
      <label>Tipo de consultorio</label>
      <select class="browser-default" name="tipoconsultorio" required>
        <option value="" disabled selected>Selecciona una opción</option>
        {{#each tipoConsul as |opt|}}
        <option value="{{opt}}">{{opt}}</option>
        {{/each}}
      </select>
      <br>
      <label>Precio: </label><input type="number" min='0' name="precio" value="{{cons.precio}}" required>
      <br><br>
      <label>Color: </label><input type="color" name="color" value="{{cons.color}}" required>
      <br><br>
      <div class="row">
        <div class="col s6 offset-s4">
          <button class="waves-effect waves-light btn deep-orange darken-4">Editar</button>
        </div>
      </div>
    </form>
  </div>
</div>
{{else}}
<div class="row">
  <div class="col s9">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Tipo</th>
          <th scope="col">Precio</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#if dtStatus}}
        <p>Aun no hay consultorios</p>
        {{else}}
        {{#each consultorios as |consultorio|}}
        <tr>
          <th>{{numero}}</th>
          <td>{{tipoconsultorio}}</td>
          <td>{{precio}}</td>
          <td>
            <a href="/admin/consultorios/edit/{{_id}}" style="color: #d5bd19;"><i class="fas fa-edit"></i></a>
          </td>
          <td>
            <a href="/admin/consultorios/delete/{{_id}}" style="color: gray;"><i class="fas fa-trash"></i></a>
          </td>
        </tr>
        {{/each}}
        {{/if}}
      </tbody>
    </table>
    <div id="editDiv"></div>
  </div>
  <div class="col s3">
    <form action="/admin/consultorios/create" method="POST">
      <h5 class="center-align">Agregar Consultorio</h5>
      <label>No: </label>
      <input name="numero" type="number" min='0' step="1" required>
      <label>Tipo de consultorio</label>
      <select class="browser-default" name="tipoconsultorio" required>
        <option value="" disabled selected>Selecciona una opción</option>
        {{#each tipoConsul as |opt|}}
        <option value="{{opt}}">{{opt}}</option>
        {{/each}}
      </select>
      <br>
      <label>Precio: </label><input type="number" min='0' name="precio" required>
      <br><br>
      <label>Color: </label><input type="color" name="color" required>
      <br><br>
      <div class="row">
        <div class="col s6 offset-s4">
          <button class="waves-effect waves-light btn deep-orange darken-4">Crear</button>
        </div>
      </div>
    </form>
  </div>
</div>
{{/if}}