{{#if edit}}
<br>
<div class="row">
  <div class="col s9">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Email</th>
          <th scope="col">Rol</th>
          <th scope="col">Tipo de Consultorio</th>
          <th scope="col">Activo</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#if dtStatus}}
        <p>Aun no hay consultorios</p>
        {{else}}
        {{#each doctores as |doctor|}}
        <tr>
          <th>{{email}}</th>
          <th>{{rol}}</th>
          <td>{{tipoconsultorio}}</td>
          <td>
            {{#if activo}}
            <i class="far fa-check-circle"></i>
            {{else}}
            <i class="fas fa-times"></i>
            {{/if}}
          </td>
        </tr>
        {{/each}}
        {{/if}}
      </tbody>
    </table>
  </div>
  <div class="col s3">
    <form action="/admin/doctores/edit/{{doc._id}}" method="POST">
      <h5 class="center-align">Editar Usuario</h5>
      <label>Email: </label>
      <input name="email" type="email" value="{{doc.email}}" disabled required>
      <label>Tipo de consultorio</label>
      <select class="browser-default" name="tipoconsultorio" required>
        <option value="" disabled selected>Selecciona una opción</option>
        <option value="terapia">Terapia</option>
        <option value="medico">Medico</option>
      </select>
      <br><br>
      <div class="row">
        <div class="col s6 offset-s4">
          <button class="waves-effect waves-light btn deep-orange darken-4">Editar</button>
        </div>
      </div>
    </form>
  </div>
</div>
{{else}}
<h4>Usuarios</h4>
<div class="row">
  <div class="col s12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Email</th>
          <th scope="col">Rol</th>
          <th scope="col">Tipo de Consultorio</th>
          <th scope="col">Activo</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#if dtStatus}}
        <p>Aún no hay doctores</p>
        {{else}}
        {{#each doctores as |doctor|}}
        <tr>
          <th>{{email}}</th>
          <th>{{rol}}</th>
          <td>{{tipoconsultorio}}</td>
          <td>
            {{#if activo}}
            <i class="far fa-check-circle"></i>
            {{else}}
            <i class="fas fa-times"></i>
            {{/if}}
          </td>
          <td>
            <a href="/admin/doctores/edit/{{_id}}" style="color: #d5bd19;"><i class="fas fa-edit"></i></a>
          </td>
          <td>
            <a href="/admin/doctores/delete/{{_id}}" style="color: gray;"><i class="fas fa-trash"></i></a>
          </td>
        </tr>
        {{/each}}
        {{/if}}
      </tbody>
    </table>
  </div>
</div>
{{/if}}