{{#if edit}}
<div class="row">
  <div class="col s9">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Horario</th>
          <th scope="col">Consultorio</th>
          <th scope="col">Doctor</th>
        </tr>
      </thead>
      <tbody>
        {{#if dtStatus}}
        <p>Aun no hay consultorios</p>
        {{else}}
        {{#each citas as |cita|}}
        <tr bgcolor='{{office.color}}'>
          <td >{{horario}}</th>
          <td>{{office.numero}}</th>
          <td>{{usuario.nombre}}</td>
        </tr>
        {{/each}}
        {{/if}}
      </tbody>
    </table>
  </div>
  <div class="col s3">
<form action="/admin/citas/edit/{{cita._id}}" method="POST">
  <select class="browser-default"  name="usuario" required>
    <option>Selecciona un doctor</option>
    {{#each doctores}}
    {{#if select}}
    <option value="{{_id}}" selected>{{nombre}}-{{tipoconsultorio}}</option>
    {{else}}
    <option value="{{_id}}">{{nombre}}-{{tipoconsultorio}}</option>
    {{/if}}
    {{/each}}
  </select>
  <select class="browser-default"  name="office" required>
    <option>Selecciona un consultorio</option>
    {{#each consultorios}}
    {{#if select}}
    <option value="{{_id}}" selected>{{numero}}-{{tipoconsultorio}}</option>
    {{else}}
    <option value="{{_id}}">{{numero}}-{{tipoconsultorio}}</option>
    {{/if}}
    {{/each}}
  </select>
  <input type="date" name="day" value='{{hoy}}' required>
  <select class="browser-default"  name="horario" required>
    {{#each horarios}}
    {{#if select}}
    <option value="{{horario}}" selected>{{horario}}</option>
    {{else}}
    <option value="{{horario}}">{{horario}}</option>
    {{/if}}
    {{/each}}
  </select>
  <button>Editar</button>
</form>
</div>

{{else}}
<form action="/admin" method="POST"><input type="date" name="dia" value='{{hoy}}'>
<button>Buscar</button>
</form> 

<div class="row">
  <div class="col s9">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Horario</th>
          <th scope="col">Consultorio</th>
          <th scope="col">Doctor</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#if dtStatus}}
        <p>Aun no hay consultorios</p>
        {{else}}
        {{#each citas as |cita|}}
        <tr bgcolor='{{office.color}}'>
          <td >{{horario}}</th>
          <td>{{office.numero}}</th>
          <td>{{usuario.nombre}}</td>
          <td>
            <a href="/admin/citas/edit/{{_id}}"><i class="fas fa-edit"></i></a>
          </td>
          <td>
            <a href="/admin/citas/delete/{{_id}}"><i class="fas fa-trash"></i></a>
          </td>
        </tr>
        {{/each}}
        {{/if}}
      </tbody>
    </table>
  </div>
  <div class="col s3">
<form action="/admin/citas/create" method="POST">
  <select class="browser-default"  name="usuario" required>
    <option selected>Selecciona un doctor</option>
    {{#each doctores}}
    <option value="{{_id}}">{{nombre}}-{{tipoconsultorio}}</option>
    {{/each}}
  </select>
  <select class="browser-default"  name="office" required>
    <option selected>Selecciona un consultorio</option>
    {{#each consultorios}}
    <option value="{{_id}}">{{numero}}-{{tipoconsultorio}}</option>
    {{/each}}
  </select>
  <input type="date" name="day" value='{{hoy}}' required>
  <select class="browser-default"  name="horario" required>
    {{#each horarios}}
    <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>
  {{#if err1}}
  {{err1}}
  {{/if}}
  <button>Agendar</button>
</form>
</div>
{{/if}}
