<script src="https://cdn.alloyui.com/3.0.1/aui/aui-min.js"></script>
<script src="/javascripts/scheduleJS/schedule.js"></script>

<div class="row">
  <div class="col s12">
    <ul class="tabs">
      {{#each consultorios as |consultorio|}}
      <li class="tab col s3">
        <a href="#{{numero}}" onclick="renderSchedule(cons{{numero}})">Consultorio {{numero}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
  {{#each consultorios as |consultorio|}}
  <div id="{{numero}}" class="col s12">
    <div id="wrapper">
      <div id="cons{{numero}}"></div>
    </div>
  </div>
  {{/each}}

</div>
<script>

</script>